{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center header">Add New Product</h1>
    
    <form method="POST" class="mt-4">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Add Product" class="btn-primary" />
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
{% endblock %}