{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Product Tracker</title>  <!-- Mengganti judul halaman -->
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-pink-100 flex flex-col">
  <h1 class="text-center header text-3xl font-bold mb-3">Mojo Dojo Casa House 🕺🏻💃🏻</h1>
  <h3 class="text-center header text-xl mb-6">Welcome to our online shop!</h3>

  <div class="user-info mb-4 text-center">
      <p class="text-lg font-semibold"><strong>Username:</strong> {{ name }}</p>
      <p class="text-lg font-semibold"><strong>Class:</strong> {{ class }}</p>
      <p class="text-lg font-semibold"><strong>Last Login:</strong> {{ last_login }}</p>
  </div>

  <div class="flex justify-center mb-6">
    <a href="{% url 'main:add_product' %}" class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
        Add New Product
    </a>
  </div>
  
  {% if not product_entries %}
  <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
        <img src="{% static 'image/sedih-banget.jpg' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
      <p class="text-center text-gray-600 mt-4">Belum ada produk dalam daftar produk.</p>
  </div>
  {% else %}
  <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
      {% for product_entry in product_entries %}
          {% include 'card_product.html' with product_entry=product_entry %}  <!-- Jika Anda memiliki card khusus untuk produk -->
      {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock content %}